{% extends "layout.html" %}

<!-- Display actual light name -->
{% block title %}
    {{ light['name'] }}
{% endblock %}

{% block main %}
    <h2>{{ light['name'] }}</h2>

    <!-- Load the light controller UI -->
    <!-- Certain values are altered by JavaScript depending on color mode -->
    {% include 'controller.html' %}

    <script>
        // Initialize light state attributes
        let lightInfo = {{ light|tojson }};
        let lightState = lightInfo['state'];
        let brightness = lightState['bri'];
        let hue = lightState['hue'];
        let saturation = lightState['sat'];
        let temp = lightState['ct'];

        // Set minimum and maximum command values based on light API
        const tempMin = lightInfo['capabilities']['control']['ct']['min'];
        const tempMax = lightInfo['capabilities']['control']['ct']['max'];

        // Initialize slider readouts and switch positions
        onoff.checked = lightState['on'];
        cmode.checked = (lightState['colormode'] == "hs" || lightState['colormode'] == "xy");

        // Send POST request for server to forward to light, then update light state based on the response
        function command(payload) {
            fetch("{{ url_for('control', id=id) }}", {
                    "method": "POST",
                    "headers": {"Content-Type": "application/json"},
                    "body": JSON.stringify(payload),
                })
                .then(response => response.json())
                .then(updates => { 
                    for (change in updates) {
                        if (Object.keys(updates[change]).length > 2) {
                            alert(JSON.stringify(updates[change]));
                        } else {
                            lightState[change] = updates[change];
                        }
                    }
                    onoff.checked = lightState['on'];
                    drawBG();
                })
        }
    </script>

    <!-- Load JS common to light and group pages -->
    <script src="{{ url_for('static', filename='common.js') }}"></script>
    
{% endblock %}
